{% extends 'base.html.twig' %}

{% block title %}Nové heslo{% endblock %}

{% block body %}
    <div class="form-page">
        <div class="card">
            <div class="card-body p-4">
                <h1 class="h4 mb-4">Nastav nové heslo</h1>

                {{ form_start(resetForm) }}
                    {{ form_row(resetForm.password.plainPassword.first, { label: 'Nové heslo' }) }}
                    {{ form_row(resetForm.password.plainPassword.second, { label: 'Heslo znovu' }) }}

                    {{ form_errors(resetForm) }}

                    <button type="submit" class="btn btn-primary w-100">Uložit heslo</button>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </div>
{% endblock %}
