{% extends 'base.html.twig' %}

{% block title %}{{ mode == 'edit' ? 'Upravit longline přechod' : 'Nový longline přechod' }} – slack.cz{% endblock %}

{% block body %}
<div class="form-page form-page--md">
    <div class="card">
        <div class="card-body p-4">
            <a class="hl-back mb-3" href="{{ path('app_user_diary', { id: longline.user.id }) }}#longline">← Longline deník</a>
            <h1 class="h4 mb-4">{{ mode == 'edit' ? 'Upravit longline přechod' : 'Nový longline přechod' }}</h1>

            {{ form_errors(form) }}

            {{ form_start(form, { attr: { 'data-turbo': 'false' } }) }}
                {{ form_row(form.crossedAt) }}
                {{ form_row(form.length) }}
                {{ form_row(form.place) }}
                {{ form_row(form.style) }}
                {{ form_row(form.comment) }}

                <div class="d-flex gap-2 mt-4">
                    <button type="submit" class="btn btn-primary flex-fill">{{ mode == 'edit' ? 'Uložit' : 'Přidat přechod' }}</button>
                    <a class="btn btn-outline-secondary flex-fill" href="{{ path('app_user_diary', { id: longline.user.id }) }}#longline">Zrušit</a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
